# Ignore k3s-* files
ansible/k3s-master-ip.txt
ansible/k3s-token.txt

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore .terraform directories
.terraform/
**/.terraform/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore local environment files
terraform.tfvars
terraform.tfvars.json

# Ignore plan files
*.tfplan
*.tfplan.*

# Ignore execution plan output (if any)
*.tfplan

# Ignore any backup files
*.bak