---
- name: Mise à jour des paquets
  apt:
    update_cache: yes

- name: Installer pip
  apt:
    name: python3-pip
    state: present

- name: Créer un fichier swap de 1Go
  command: fallocate -l 1G /swapfile
  args:
    creates: /swapfile

- name: Sécuriser swapfile
  file:
    path: /swapfile
    mode: '0600'

- name: Vérifier si le swap est déjà actif
  command: swapon --show
  register: swap_status
  changed_when: false

- name: Initialiser swap
  command: mkswap /swapfile
  when: swap_status.stdout == ""

- name: Activer swap
  command: swapon /swapfile
  when: swap_status.stdout == ""

- name: Rendre swap persistant
  lineinfile:
    path: /etc/fstab
    line: '/swapfile none swap sw 0 0'
    state: present
    
- name: Désactiver UFW
  command: ufw disable
  become: true

- name: Activer les modules kernel nécessaires
  shell: |
    modprobe overlay
    modprobe br_netfilter

# Kubernetes contrôle le routage et les règles de firewall pour le trafic entre pods et entre nœuds
- name: Configurer les paramètres réseau Kubernetes
  copy:
    dest: /etc/sysctl.d/k8s.conf
    content: |
      net.bridge.bridge-nf-call-iptables  = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward                 = 1

- name: Recharger sysctl
  command: sysctl --system
