---
- name: Mise à jour des paquets
  apt:
    update_cache: yes
    cache_valid_time: 3600
    upgrade: safe

- name: Installer pip
  apt:
    name: python3-pip
    state: present

- name: Créer un fichier swap de 1Go
  command: fallocate -l 1G /swapfile
  args:
    creates: /swapfile

- name: Sécuriser swapfile
  file:
    path: /swapfile
    mode: '0600'

- name: Initialiser swap
  command: mkswap /swapfile
  when: swap_created is not defined

- name: Activer swap
  command: swapon /swapfile

- name: Rendre swap persistant
  lineinfile:
    path: /etc/fstab
    line: '/swapfile none swap sw 0 0'
    state: present
    
- name: Désactiver UFW
  command: ufw disable
  become: true

- name: Activer les modules kernel nécessaires
  shell: |
    modprobe overlay
    modprobe br_netfilter

# Kubernetes contrôle le routage et les règles de firewall pour le trafic entre pods et entre nœuds
- name: Configurer les paramètres réseau Kubernetes
  copy:
    dest: /etc/sysctl.d/k8s.conf
    content: |
      net.bridge.bridge-nf-call-iptables  = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward                 = 1

- name: Recharger sysctl
  command: sysctl --system
