# Récupérer derniere vm
- name: Get last node's ip
  shell : kubectl get nodes --no-headers | awk '{print $1}' | tail -n 1
  register: last_node

# On label le noeud 3 avec la valeur gitops
- name: Label GitOps node
  command: kubectl label node {{ last_node.stdout }} role=gitops --overwrite

# On accepte sur ce noeud que ce qui a le role gitops
- name: Taint GitOps node
  command: kubectl taint node {{ last_node.stdout }} role=gitops:NoSchedule --overwrite

- name: Create argocd namespace
  command: kubectl create namespace argocd
  ignore_errors: yes

- name: Copy Argo CD install manifest
  copy:
    src: argocd-install.yaml
    dest: /tmp/argocd-install.yaml

- name: Install Argo CD (optimized)
  command: kubectl apply -f /tmp/argocd-install.yaml -n argocd
  failed_when: false

- name: Déployer les applications ArgoCD
  command: kubectl apply -f /home/ubuntu/gestion-depense-deploy/application.yaml