---
- name: Configuration commune des serveurs
  hosts: all
  become: true
  roles:
    - common
    - git

- name: Installer K3s master
  hosts: master
  become: true
  roles:
    - kube-master

  post_tasks:
    - name: Attendre stabilisation du master
      pause:
        seconds: 45
        prompt: "Master installé, attente de stabilisation..."

    - name: Vérification finale du master
      shell: kubectl get nodes
      register: master_ready
      retries: 10
      delay: 10
      until: master_ready.rc == 0
      changed_when: false

- name: Installer K3s workers
  hosts: workers
  become: true
  vars:
    # Récupère les variables du master via hostvars
    k3s_master_token: "{{ hostvars[groups['master'][0]]['k3s_master_token'] }}"
    k3s_master_ip: "{{ hostvars[groups['master'][0]]['k3s_master_ip'] }}"
  roles:
    - kube-worker