---
- name: Charger les informations du master
  include_vars:
    file: "/tmp/master-info.yml"
    remote_src: yes

# Étape 3 - Joindre le worker au cluster (seulement si pas déjà fait)
- name: Joindre le worker au cluster K3s
  shell: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="agent \
      --server https://{{ k3s_master_ip }}:6443 \
      --token {{ k3s_master_token }} \
      --node-ip {{ ansible_default_ipv4.address }}" sh -
  args:
    executable: /bin/bash
  async: 200
  poll: 15

# Étape 4 - Vérifier le service k3s-agent
- name: Vérifier que le service k3s-agent est actif
  systemd:
    name: k3s-agent
    state: started
    enabled: yes