---
# Créer dossier pour pouvoir y mettre le config
- name: Créer /etc/rancher/k3s
  file:
    path: /etc/rancher/k3s
    state: directory
    owner: root
    group: root
    mode: "0755"

# Générer config.yaml avant installation
- name: Créer /etc/rancher/k3s/config.yaml
  copy:
    dest: /etc/rancher/k3s/config.yaml
    content: |
      node-ip: "{{ ansible_default_ipv4.address }}"
      advertise-address: "{{ ansible_default_ipv4.address }}"
      tls-san:
        - "{{ ansible_default_ipv4.address }}"
      flannel-iface: ens5
      disable:
        - traefik
        - servicelb
        - local-storage
      write-kubeconfig-mode: "0644"
    owner: root
    group: root
    mode: 0644

# Télécharge le script officiel K3s
- name: Installer K3s master
  shell: |
    curl -sfL https://get.k3s.io | sh -
  args:
    executable: /bin/bash

- name: Attendre que le kubeconfig système soit créé
  wait_for:
    path: /etc/rancher/k3s/k3s.yaml
    timeout: 120

- name: Redémarrer K3s pour recharger config
  systemd:
    name: k3s
    state: restarted

- name: Attendre API Ready
  shell: |
    kubectl --kubeconfig /etc/rancher/k3s/k3s.yaml get nodes
  register: api_ready
  retries: 20
  delay: 6
  until: api_ready.rc == 0

 # ==== Kubeconfig pour l'utilisateur ubuntu ====

- name: Créer dossier .kube pour user ubuntu
  file:
    path: /home/ubuntu/.kube
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: '0755'

# Permet à l’utilisateur ubuntu d’utiliser kubectl sans sudo
- name: Copier kubeconfig pour l’utilisateur ubuntu
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: /home/ubuntu/.kube/config
    owner: ubuntu
    group: ubuntu
    mode: '0644'
    remote_src: yes

- name: Télécharger Helm
  shell: |
    curl -fsSL -o /tmp/get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-4 | bash
  args:
    executable: /bin/bash

- name: Exécuter le script Helm
  shell: bash /tmp/get_helm.sh
  args:
    creates: /usr/local/bin/helm
  
- name: Installer Metrics Server
  shell: |
    kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml

- name: Appliquer local-path-provisioner
  ansible.builtin.command: >
    kubectl apply -f https://raw.githubusercontent.com/rancher/local-path-provisioner/v0.0.24/deploy/local-path-storage.yaml
  register: result_localpath
  changed_when: "'created' in result_localpath.stdout or 'configured' in result_localpath.stdout"

- name: Appliquer ingress-nginx controller
  ansible.builtin.command: >
    kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.14.1/deploy/static/provider/cloud/deploy.yaml
  register: result_ingress
  changed_when: "'created' in result_ingress.stdout or 'configured' in result_ingress.stdout"

- name: Attendre que le namespace ingress-nginx soit prêt
  ansible.builtin.command: kubectl wait --namespace ingress-nginx --for=condition=available deployment/ingress-nginx-controller --timeout=180s
  retries: 5
  delay: 10
  register: wait_ingress
  until: wait_ingress.rc == 0

# token d’authentification utilisé par les **workers** pour rejoindre le cluster est stocké dans `/var/lib/rancher/k3s/server/node-token`
- name: Récupérer token du master pour que les workers puissent "join"
  shell: cat /var/lib/rancher/k3s/server/node-token
  register: k3s_token

- name: Sauvegarder le token localement
  delegate_to: localhost
  become: no
  copy:
    content: |
      k3s_master_token: "{{ k3s_token.stdout }}"
      k3s_master_ip: "{{ ansible_default_ipv4.address }}"
    dest: "{{ playbook_dir }}/k3s_vars.yml"