name: Deploy K3s Infrastructure

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      TF_WORKING_DIR: ./terraform
      ANSIBLE_DIR: ./ansible

    steps:
      # --- Étape 1 : Récupération du code ---
      - name: Checkout code
        uses: actions/checkout@v4

      # --- Étape 4 : Installer OpenTofu ---
      - name: Install OpenTofu
        run: |
          sudo apt update
          sudo apt install snapd
          sudo snap install opentofu --classic
          tofu version

      # --- Étape 5 : Installer Ansible & AWS CLI ---
      - name: Install Ansible & AWS CLI
        run: |
          sudo apt update
          sudo apt install -y ansible unzip
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws --version
          ansible --version

      # --- Étape 6 : Configurer AWS Credentials ---
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Setup SSH key from secrets
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ansible
          chmod 600 ~/.ssh/id_ansible
          ssh-keygen -y -f ~/.ssh/id_ansible > ~/.ssh/id_ansible.pub


      # --- Étape 7 : Exécuter OpenTofu ---
      - name: Apply OpenTofu (Terraform)
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          tofu init
          tofu apply -auto-approve \
            -var "ssh_public_key_path=$HOME/.ssh/id_ansible.pub" \
            -var "ssh_private_key_path=$HOME/.ssh/id_ansible"

      - name: Upload Terraform state
        uses: actions/upload-artifact@v4
        with:
          name: terraform-state
          path: ./terraform

      - name: Wait for EC2 boot
        run: sleep 60

      # --- Étape 9 : Exécuter Ansible 1 ---
      - name: Configure K3s master via Ansible
        working-directory: ${{ env.ANSIBLE_DIR }}
        run: |
          ansible-playbook -i inventory.ini playbook.yml --private-key "$HOME/.ssh/id_ansible" --limit 'all:!workers'
          
      # --- Étape 10 : Exécuter Ansible 2 ---
      - name: Configure K3s workers via Ansible
        working-directory: ${{ env.ANSIBLE_DIR }}
        run: |
          ansible-playbook -i inventory.ini playbook.yml --private-key "$HOME/.ssh/id_ansible" --limit 'all:!master'

      # --- Étape 11 : Vérification ---
      - name: Show generated inventory
        working-directory: ${{ env.ANSIBLE_DIR }}
        run: cat inventory.ini