name: Deploy K3s Infrastructure

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      TF_WORKING_DIR: ./terraform
      ANSIBLE_DIR: ./ansible

    steps:
      # --- Étape 1 : Récupération du code ---
      - name: Checkout code
        uses: actions/checkout@v4

      # --- Étape 4 : Installer OpenTofu ---
      - name: Install OpenTofu
        run: |
          sudo apt update
          sudo apt install snapd
          sudo snap install opentofu --classic
          tofu version

      # --- Étape 5 : Installer Ansible & AWS CLI ---
      - name: Install Ansible & AWS CLI
        run: |
          sudo apt update
          sudo apt install -y ansible unzip
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws --version
          ansible --version

      # --- Étape 6 : Configurer AWS Credentials ---
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Setup SSH key from secrets
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ansible
          chmod 600 ~/.ssh/id_ansible
          ssh-keygen -y -f ~/.ssh/id_ansible > ~/.ssh/id_ansible.pub


      # --- Étape 7 : Exécuter OpenTofu ---
      - name: Apply OpenTofu (Terraform)
        working-directory: ${{ env.TF_WORKING_DIR }}
        env:
          TF_HTTP_PASSWORD: ${{ secrets.TFSTATEDEV_TOKEN }}
        run: |
          tofu init -reconfigure
          tofu apply -auto-approve \
            -var "ssh_public_key_path=$HOME/.ssh/id_ansible.pub" \
            -var "ssh_private_key_path=$HOME/.ssh/id_ansible"

      # - name: Upload Terraform state
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: terraform-state
      #     path: ./terraform/terraform.tfstate

      # --- Étape 9 : Exécuter Ansible 1 ---
      - name: Configure K3s master via Ansible
        working-directory: ${{ env.ANSIBLE_DIR }}
        run: |
          ansible-playbook -i inventory.ini playbook.yml --private-key "$HOME/.ssh/id_ansible"

          # Extraire les variables après la première exécution
          echo "K3S_TOKEN=$(cat k3s_vars.yml | grep k3s_master_token | cut -d' ' -f2)" >> $GITHUB_ENV
          echo "K3S_IP=$(cat k3s_vars.yml | grep k3s_master_ip | cut -d' ' -f2)" >> $GITHUB_ENV

      # - name: Configure K3s workers
      #   working-directory: ${{ env.ANSIBLE_DIR }}
      #   run: |
      #     ansible-playbook -i inventory.ini playbook.yml \
      #       --private-key "$HOME/.ssh/id_ansible" \
      #       --limit 'all:!master' \
      #       --extra-vars "k3s_master_token=${{ env.K3S_TOKEN }} k3s_master_ip=${{ env.K3S_IP }}"

      # --- Étape 11 : Vérification ---
      - name: Show generated inventory
        working-directory: ${{ env.ANSIBLE_DIR }}
        run: cat inventory.ini