name: Destroy Infrastructure

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install OpenTofu
        run: |
          sudo apt update
          sudo apt install snapd
          sudo snap install opentofu --classic
          tofu version

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Download Terraform state
        uses: actions/download-artifact@v5
        with:
          name: terraform.tfstate
          path: ./terraform/terraform.tfstate

      - name: Destroy all infrastructure
        working-directory: ./terraform
        run: |
          tofu init
          tofu destroy -auto-approve